.nav{
    background-color: white;
    box-shadow: 0px 2px 0px 0px black;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    
}
.logo{
font-size:2rem;
font-weight: 600;
}
.corner_link>a{
text-decoration: none;
margin: 5px;
cursor: pointer;
}
.corner_link>p{
text-decoration: none;
margin: 5px;
cursor: pointer;
}


.search_input{
    display: flex;
   
    width: 200px;
    height: 30px;

}
.search_input>div{
    height: 100%;
}
.search_input>div>input,button{
    height: 100%;
}
.search_input>div>button{
    width: 30px;
    background-color: #00B4CC;
    border: none;
}
.search_input>div>input{
    width: 170px;
    border: 3px solid #00B4CC;
    padding-left: 10px;
}
 